package routers

import (
	"{{.ServiceName}}/internal/api/handlers"

	"github.com/gin-gonic/gin"
)

func RegisterRoutes(router *gin.Engine) {
	GlobalRoutes(router)
}

func GlobalRoutes(router *gin.Engine) {
	router.GET("/health", handlers.HealthCheck)
}

