package main

import (
	"log"

	"{{.ServiceName}}/internal/api/routers"
	"{{.ServiceName}}/internal/configs"
	"{{.ServiceName}}/internal/db"
	"{{.ServiceName}}/internal/server"
)

func main() {
	config := configs.LoadConfig()
	s := server.NewServer(config)
	routers.RegisterRoutes(s.Router)

	// Initialiser la base de données et migrer les modèles
	db.InitDB()
	db.MigrateDB()

	if err := s.Start(); err != nil {
		log.Fatalf("Failed to start server: %v", err)
	}
}
