package server

import (
	"{{.ServiceName}}/internal/configs"
	"log"

	"github.com/gin-gonic/gin"
	{{if .IncludeSentry}}sentrygin "github.com/getsentry/sentry-go/gin"{{end}}
	{{if .IncludePrometheus}}ginprometheus "github.com/zsais/go-gin-prometheus"{{end}}
	{{if .IncludeSwagger}}swaggerFiles "github.com/swaggo/files"
	ginSwagger "github.com/swaggo/gin-swagger"{{end}}
)

type Server struct {
	Router *gin.Engine
	config *configs.Config
}

func NewServer(config *configs.Config) *Server {
	switch config.GinMode {
	case "release":
		gin.SetMode(gin.ReleaseMode)
	case "debug":
		gin.SetMode(gin.DebugMode)
	case "test":
		gin.SetMode(gin.TestMode)
	default:
		log.Printf("Unknown mode %s, defaulting to debug mode", config.GinMode)
		gin.SetMode(gin.DebugMode)
	}

	router := gin.Default()

	{{if .IncludeSentry}}
	// Initialize Sentry middleware
	router.Use(sentrygin.New(sentrygin.Options{
		Repanic: true,
	}))
	{{end}}

	{{if .IncludePrometheus}}
	// Prometheus metrics
	p := ginprometheus.NewPrometheus("gin")
	p.Use(router)
	{{end}}

	router.Use(CORSMiddleware())

	{{if .IncludeSwagger}}
	// Swagger documentation
	router.GET("/swagger/*any", ginSwagger.WrapHandler(swaggerFiles.Handler))
	{{end}}

	return &Server{
		Router: router,
		config: config,
	}
}

func (s *Server) Start() error {
	return s.Router.Run(":" + s.config.Port)

}
